

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
      <link rel="shortcut icon" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
  

    <link rel="stylesheet" href="{{asset('assetss/css/normalize.css')}}">
    <link rel="stylesheet" href="{{asset('assetss/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('assetss/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('assetss/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{asset('assetss/css/flag-icon.min.css')}}">
    <link rel="stylesheet" href="{{asset('assetss/css/cs-skin-elastic.css')}}" >
      <script src="jquery-jvectormap-1.0.min.js"></script>
        <script src="jquery-jvectormap-world-mill-en.js"></script>

    <link rel="stylesheet" href="{{asset('assetss/css/lib/datatable/dataTables.bootstrap.min.css')}}">
    <!-- <link rel="stylesheet" href="{{asset('assetss/css/bootstrap-select.less')}}"> -->
    <link rel="stylesheet" href="{{asset('assetss/scss/style.css')}}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>


    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>


<body>

{% block body %}
 {% block panel_left %}
 {% endblock %}
  {% block header %}
 {% endblock %}
  {% block content %}
 {% endblock %}
{% endblock %}









{% block javascripts %}
 <script src="{{asset('assetss/js/popper.min.js')}}"></script>
    <script src="{{asset('assetss/js/plugins.js')}}"></script>
    <script src="{{asset('assetss/js/main.js')}}"></script>

    <script src="{{asset('assetss/js/vendor/jquery-2.1.4.min.js')}}"></script>
   

    <script src="{{asset('assetss/js/lib/data-table/datatables.min.js')}}"></script>
    <script src="{{asset('assetss/js/lib/data-table/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('assetss/js/lib/data-table/dataTables.buttons.min.js')}}"></script>
    <script src="{{asset('assetss/js/lib/data-table/buttons.bootstrap.min.js')}}"></script>
    <script src="{{asset('assetss/js/lib/data-table/jszip.min.js')}}"></script>
    <script src="{{asset('assetss/js/lib/data-table/pdfmake.min.js')}}"></script>
    <script src="{{asset('assetss/js/lib/data-table/vfs_fonts.js')}}"></script>
    <script src="{{asset('assetss/js/lib/data-table/buttons.html5.min.js')}}"></script>
    <script src="{{asset('assetss/js/lib/data-table/buttons.print.min.js')}}'"></script>
    <script src="{{asset('assetss/js/lib/data-table/buttons.colVis.min.js')}}"></script>
    <script src="{{asset('assetss/js/lib/data-table/datatables-init.js')}}"></script>
        <script src="{{asset('assetss/js/vendor/jquery-2.1.4.min.js')}}"></script>
    <script src="{{asset('assetss/js/plugins.js')}}"></script>
    <script src="{{asset('assetss/js/main.js')}}"></script>


    <script src="{{asset('assetss/js/lib/chart-js/Chart.bundle.js')}}"></script>
    <script src="{{asset('assetss/js/dashboard.js')}}"></script>
    <script src="{{asset('assetss/js/widgets.js')}}"></script>
    <script src="{{asset('assetss/js/lib/vector-map/jquery.vmap.js')}}"></script>
    <script src="{{asset('assetss/js/lib/vector-map/jquery.vmap.min.js')}}"></script>
    <script src="{{asset('assetss/js/lib/vector-map/jquery.vmap.sampledata.js')}}"></script>
    <script src="{{asset('assetss/js/lib/vector-map/country/jquery.vmap.world.js')}}"></script>
     <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

            <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
          

    <script>
    $(document).ready(function(){});
 ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );

       
    </script>

        {% endblock %}

</body>
</html>
