{% extends "@KEURGUIimmo/layoutl.html.twig" %}

{% block title %}KEURGUIimmoBundle:det:det{% endblock %}

{% block body %}
{% block header %}
{{parent()}}
{% endblock %}
  <div class="container">

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-2 col-md-offset-3">
        <form role="form">
            
            <hr>
<div class="row " style="">
<div class="col-4"><h3>Details du client</h1>
Numero de piece : {{client.numpiece}}</br>
Nom : {{client.nomComplet}}</br>
Numero de telephone : {{client.tel}}</br>
Adresse : {{client.adresse}}</br>
E-mail : {{client.email}}</br>
 
</div>

<div class="col-4"><h3>Details sur le Bien</h3>
Localite : {{bien.localite}}</br>
Type : {{bien.type}}</br>
Nom : {{bien.nom}}</br>
Description : {{bien.description}}</br>
Prix : {{bien.prix}}</br>

</div>

<div class="row " style="">





            <div id="demo" class="carousel slide" data-ride="carousel" style="margin-left:170px; margin-top:0px;">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner" style="padding-top: 20px;">
                    <div class="carousel-item active">
                        <img  style="height:400px;width:900px" src="{{asset('images/'~bien.image[0])}}" class="img-responsive" alt="Los Angeles">
                    </div>
                   
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>







</div>








{# {{client.nomComplet}}</br>
{{client.tel}}</br>
{{bien.nom}}</br> #}
















</div>

                </div>
                <div class="col-xs-8 col-sm-9 col-md-9">
                     En cliquant <strong class="label label-primary">VALIDER</strong>, vous acceptez les <a href="#" data-toggle="modal" data-target="#t_and_c_m">Termes et conditions</a> mis en place par ce site, y compris notre utilisation de cookies.
                </div>
            </div>
            
            <hr>
            <div class="row">
            <div class="col-xs-12 col-md-6"><a href="" class="btn btn-primary btn-block btn-lg">RETOUR</a></div>
                <div class="col-xs-12 col-md-6"><a class="btn btn-primary btn-block btn-lg" tabindex="7" href="{{path('contrat',{'idb':bien.id,'idc':client.id})}}">VALIDER</a> </div>
                
            </div>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Termes & Conditions</h4>
               Le contrat de location est conclu pour la durée précisée aux conditions particulières.
La durée du contrat renouvelé ou tacitement reconduit est la même que celle fixée initialement aux conditions
particulières.
            </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">J'accepte</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
<style>
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
</style>
 


{% endblock %}