<head>
        <meta charset="utf-8" />
        <title>Moltran - Responsive Admin Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="{{asset('assets1/images/favicon_1.ico')}}">

        <!-- Dropzone css -->
        <link href="{{asset('assets1/plugins/dropzone/dist/dropzone.css')}}" rel="stylesheet" type="text/css">
        
        <link href="{{asset('assets1/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('assets1/css/core.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('assets1/css/icons.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('assets1/css/components.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('assets1/css/pages.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('assets1/css/menu.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('assets1/css/responsive.css')}}" rel="stylesheet" type="text/css">

        <script src="{{asset('assets1/js/modernizr.min.js')}}"></script>
                <script src="{{asset('assets1/plugins/dropzone/dist/dropzone.js')}}"></script>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>


        <!-- Dropzone css -->
        

        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
                     
                    
                        <!-- end row -->

                            <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <form action="{{path('add')}}" method="POST" class="form-group" role="form"  id="form" enctype="multipart/form-data">

                                                <table id="datatable" class="table table-striped table-bordered">
                                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>LIBELET</th>
                                            <th>TYPE</th>
                                            <th>LOCALITE</th>
                                              <th>PRIX</th>
                                                <th>image</th>
                                            
                                               <th>reservataires</th>
                                              <th>Actions</th>
                                            
                             
                                              
                                              
                                                
                                        </tr>
                                    </thead>
                                    <tbody>

                     
                              
                    {% for res in res %}
                            <tr class="c">
                    <th>{{res.id}}</th>
                      <th>{{res.bien.nom}}</th>
                        <th>{{res.bien.type}}</th>
                          <th>{{res.bien.localite}}</th>
                            <th>{{res.bien.prix}}</th>
                        
                           
                               <th>
                             {% set c=0 %}
                                 {% for i in res.bien.image %}
                                 {% if c==0 %}
                                   <img src="{{asset('images/properties/'~i.image)}}" class="properties" alt="properties" />
                                       {% set c=c+1 %}
                                   {% endif %}
                                   {% endfor %}
</th>
                              <th>{{res.client.nomComplet}}</th>
                                <th><a href="{{path('detailReservation',{'id':res.id})}}">deatils</a></th>
                 
     
                         </tr>
                    {% endfor %}
                    
                                     
                                    </tbody>
                                </table>

</form>
                            </div>
                            <!-- end: page -->
                      

                        </div> <!-- end Panel -->
                  
                        
  
                        
        <!-- jQuery  -->
      <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->

        <script src="{{asset('assets1/js/jquery.min.js')}}"></script>
        <script src="{{asset('assets1/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('assets1/js/detect.js')}}"></script>
        <script src="{{asset('assets1/js/fastclick.js')}}"></script>
        <script src="{{asset('assets1/js/jquery.slimscroll.js')}}"></script>
        <script src="{{asset('assets1/js/jquery.blockUI.js')}}"></script>
        <script src="{{asset('assets1/js/waves.js')}}"></script>
        <script src="{{asset('assets1/js/wow.min.js')}}"></script>
        <script src="{{asset('assets1/js/jquery.nicescroll.js')}}"></script>
        <script src="{{asset('assets1/js/jquery.scrollTo.min.js')}}"></script>
         <script src="{{asset('assets1/js/jquery.app.js')}}"></script>

        


        <!-- Page Specific JS Libraries -->
       


        <!-- Datatables-->
        <script src="{{asset('assets1/plugins/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('assets1/plugins/datatables/dataTables.bootstrap.js')}}"></script>
        <script src="{{asset('assets1/plugins/datatables/dataTables.buttons.min.js')}}"></script>
        <script src="{{asset('assets1/plugins/datatables/buttons.bootstrap.min.js')}}"></script>
        <script src="{{asset('assets1/plugins/datatables/jszip.min.js')}}"></script>
        <script src="{{asset('assets1/plugins/datatables/pdfmake.min.js')}}"></script>
        <script src="{{asset('assets1/plugins/datatables/vfs_fonts.js')}}"></script>
        <script src="{{asset('assets1/plugins/datatables/buttons.html5.min.js')}}"></script>
        <script src="{{asset('assets1/plugins/datatables/buttons.print.min.js')}}"></script>
        <script src="{{asset('assets1/plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>
        <script src="{{asset('assets1/plugins/datatables/dataTables.keyTable.min.js')}}"></script>
        <script src="{{asset('assets1/plugins/datatables/dataTables.responsive.min.js')}}"></script>
        <script src="{{asset('assets1/plugins/datatables/responsive.bootstrap.min.js')}}"></script>
        <script src="{{asset('assets1/plugins/datatables/dataTables.scroller.min.js')}}"></script>

        <!-- Datatable init js -->
        <script src="{{asset('assets1/pages/datatables.init.js')}}"></script>

        <!-- Page Specific JS Libraries -->
                <script src="{{asset('assets1/plugins/dropzone/dist/dropzone.js')}}"></script>


        <script type="text/javascript">
            $(document).ready(function() {
              
                $(".cache").hide()
                $("#datatable tr input").attr("disabled",true)
                  
            $('.edit').on('click',function(){
                var x=$(this).attr("name")
                     var id=$(this).attr("id")
              
                    $("."+x+"1").attr("disabled",false)
                

               
             
              
                
            
            })
                $('#datatable').dataTable();
                $('#datatable-keytable').DataTable( { keys: true } );
                $('#datatable-responsive').DataTable();
                $('#datatable-scroller').DataTable( { ajax: "assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true } );
                var table = $('#datatable-fixed-header').DataTable( { fixedHeader: true } );
            } );
            TableManageButtons.init();
         
        </script>



<style> 
#datatable tr input{
    width:120px;
    height:200px;
    background-color:white;
}
img{
    width:60px;
    
}
</style>